@model IEnumerable<EncontroCampistas.Biblioteca.Entidades.Evento>

@{
    ViewBag.Title = "Administrativo - Eventos";
    Layout = "~/Areas/Administrativo/Views/Shared/_AdministrativoLayout.cshtml";
}

<div class="alert alert-success" id="mensagem"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Encontro Campistas - Administrivo - Eventos</h3>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Novo evento", "NovoEvento", "Evento", new { @class = "btn btn-default" })

        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th class="text-right">#Id</th>
                    <th>Descrição</th>
                    <th class="text-right">Data e Hora</th>
                    <th class="text-right">Local</th>
                    <th class="text-right">Duração</th>
                    <th class="text-right">Tipo de Evento</th>
                    <th class="text-center">Excluir</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row-@item.EventoId">
                        <td class="text-right">
                            # @item.EventoId
                        </td>
                        <td>
                            @Html.ActionLink(item.Descricao, "Alterar", new { item.EventoId })
                        </td>
                        <td class="text-right">
                            @item.DataHoraRealizacao
                        </td>
                        <td class="text-right">
                            @item.Local
                        </td>
                        <td class="text-right">
                            @item.Duracao
                        </td>
                        <td class="text-right">
                            @*@item.TipoEvento.DescricaoTipoEvento*@
                        </td>
                        <td class="text-center">
                            <input type="submit" class="btn btn-default btn-xs" id="@item.EventoId" name="@item.Descricao" value="Excluir" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@Html.Partial("Confirmacao")